<%= form_with(model: food, local: true) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :food_name %>
  </div>

  <div class="field">
    <%= form.label :energy %>
    <%= form.text_field :energy, id: :food_energy %>
  </div>

  <div class="field">
    <%= form.label :water %>
    <%= form.text_field :water, id: :food_water %>
  </div>

  <div class="field">
    <%= form.label :carbs %>
    <%= form.text_field :carbs, id: :food_carbs %>
  </div>

  <div class="field">
    <%= form.label :fats %>
    <%= form.text_field :fats, id: :food_fats %>
  </div>

  <div class="field">
    <%= form.label :proteins %>
    <%= form.text_field :proteins, id: :food_proteins %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
