<h1>Hello from Rails!</h1>

<p>It is <%= @time %></p>

<p>
  Say <%= link_to('Goodbye', say_goodbye_path) %></a>
</p>

Stuff:
Addition: <%= 1 + 2 %>
Concatenation: <%= 'cow' + 'boy'  %>
Time in one our: <%= 1.hour.from_now.localtime  %>


Tutti i file della directory:
<%= Dir.glob('*') %>
