<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

ECCO
<%= new_line_item_path %>
<%= edit_line_item_path %>

<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
      <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>