 <!--f è la form-->
<%= form_for(@order) do |f| %>
     <!-- se c'è un errore i dati vecchi non li perdo anche se nel metodo new del controller creo un nuovo ordine, infatti nella form i dati sono nel browser e rimangono, non vengono caricati i dati dell'oggetto nuovo creato. Viene creato solo un oggetto nuovo pronto ad accogliere di nuovo i dati dell'utente.-->
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
            <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Nome' %><br>
      <!--# Viene mappato al campo :name di @order-->
      <!--# La size è quella visualizzata quindi la lunghezza del campo nella form. Non è una validazione.-->
      <%= f.text_field :name, size: 10 %>
    </div>
    <div class="field">
      <%= f.label 'Indirizzo' %><br>
      <%= f.text_area :address, rows: 3, cols: 40 %>
    </div>
    <div class="field">
      <%= f.label 'E-mail' %><br>
      <%= f.email_field :email, size: 40 %>
    </div>
    <div class="field">
      <%= f.label 'Pagamento' %><br>
      <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
    </div>
    <div class="actions">
      <%= f.submit 'Place Order' %>
    </div>
<% end %>
