<%= title('zoon') %>

<div class="row content">
  <div class="col-sm-3">
    <%= render(partial: 'sidebar_left') %>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-9">
        <hr>
        zona 40 30 30
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 main-food">
        <div id="carb_name"><%= @zonetor.carb.name %></div>
        <%= image_tag(@zonetor.carb.name, id: 'carb_image', class: 'main_zone_image') %>
        <div id="carb_grams"><%= grams(@zonetor.carbs) %></div>
      </div>
      <div class="col-sm-3 main-food">
        <div id="fat_name"><%= @zonetor.fat.name %></div>
        <%= image_tag(@zonetor.fat.name, id: 'fat_image', class: 'main_zone_image') %>
        <div id="fat_grams"><%= grams(@zonetor.fats) %></div>
      </div>
      <div class="col-sm-3 main-food">
        <div id="protein_name"><%= @zonetor.protein.name %></div>
        <%= image_tag(@zonetor.protein.name, id: 'protein_image', class: 'main_zone_image') %>
        <div id="protein_grams"><%= grams(@zonetor.proteins) %></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <hr>
        crea la tua zona cliccando sulle immagini
        <hr>
      </div>
    </div>
    <% @foods.in_groups_of(3) do |foods| %>
        <div class="row">
          <%= render(partial: 'food', collection: foods) %>
        </div>
        <br>
    <% end %>
  </div>
</div>

